<div class="flex flex-col items-center mb-8">
  <h1 class="font-black text-4xl md:text-5xl mb-8">
    NASZE SMAKI
  </h1>
</div>
<div class="relative -mt-20 -mb-5 md:m-0">
  <div class="slider">
    <ul [style.transform]="'translateX(-100%/' + visibleSlides + ')'">
      <li [ngStyle]="{'width' : 'calc(100%/' + visibleSlides + ')'}" *ngFor="let item of items">
        <div class="w-full h-full flex-shrink-0 flex items-center justify-center flex-col gap-5">
          <div
            class="cursor-pointer transition-transform transform md:scale-100 md:hover:scale-110 h-1/2 md:h-3/4 flex items-end justify-center w-full carousel-item-container"
            [ngStyle]="{
              'background-image': 'url(' + item.image + ')'
            }"
          ></div>
          <div class="font-semibold text-xl">
            {{ item.title }}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <button
    (click)="prev()"
    class="absolute top-1/2 left-0 text-white p-2"
    style="transform: rotate(180deg)"
  >
    <svg
      width="36"
      height="34"
      viewBox="0 0 24 22"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="arrow_forward_ios">
        <mask
          id="mask0_1_347"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="24"
          height="22"
        >
          <rect id="Bounding box" width="24" height="21.4901" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_1_347)">
          <path
            id="arrow_forward_ios_2"
            d="M8.025 19.6992L6.25 18.1098L14.475 10.745L6.25 3.38014L8.025 1.79077L18.025 10.745L8.025 19.6992Z"
            fill="black"
          />
        </g>
      </g>
    </svg>
  </button>
  <button
    (click)="next()"
    class="absolute top-1/2 right-0 text-white p-2"
  >
    <svg
      width="36"
      height="34"
      viewBox="0 0 24 22"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="arrow_forward_ios">
        <mask
          id="mask0_1_347"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="24"
          height="22"
        >
          <rect id="Bounding box" width="24" height="21.4901" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_1_347)">
          <path
            id="arrow_forward_ios_2"
            d="M8.025 19.6992L6.25 18.1098L14.475 10.745L6.25 3.38014L8.025 1.79077L18.025 10.745L8.025 19.6992Z"
            fill="black"
          />
        </g>
      </g>
    </svg>
  </button>
</div>
