<div class="md:pt-20 md:pb-32 py-10 bg-white">
  <div class="flex flex-col items-center pt-10 pb-8">
    <h1 class="jos text-black text-4xl md:text-5xl mb-4 uppercase"
      data-jos_animation="fade-up"
      data-jos_rootMargin_bottom="15%"
      data-jos_scrolldirection="down"
      data-jos_once="false"
      data-jos_animationinverse="none"
      data-jos_timingfunction="ease"
      data-jos_duration="0.4"
    >
      {{ "contact" | translate }}
    </h1>
  </div>

  <section class="flex flex-col items-center w-full max-w-screen-xl my-0 mx-auto w-11/12">

    <div class="w-full">
      <yup-contact-location-block [inverseColor]="true"></yup-contact-location-block>

      <div class="flex justify-center mt-10 jos"
        data-jos_animation="fade-up"
        data-jos_rootMargin_bottom="15%"
        data-jos_scrolldirection="down"
        data-jos_once="false"
        data-jos_animationinverse="none"
        data-jos_timingfunction="ease"
        data-jos_duration="0.4"
      >
        <button
          routerLink="/contact"
          class="text-xl md:text-2xl font-semibold py-3 px-6 text-white rounded hover:text-gray-700 uppercase bg-black"
          style="box-shadow: -6px 4px 24px 0px #ffffff40"
        >
          {{ "contact" | translate }}
        </button>
      </div>
    </div>
  </section>
</div>
