<section class="flex flex-col items-center w-full">
  <div class="flex flex-col items-center mb-8">
    <h1 class="font-black text-4xl md:text-5xl mb-4" style="color: #474747;">LOKALIZACJE</h1>
    <h2 class="text-xl md:text-2xl font-semibold">Wyspy handlowe Yuppie:</h2>
  </div>

  <div class="w-full">
    @if (apiLoaded | async) {
    <google-map
      height="550px"
      width="100%"
      [center]="center"
      [zoom]="zoom"
      (mapClick)="moveMap($event)"
      (mapMousemove)="move($event)"
    >
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
      >
      </map-marker>
    </google-map>
    }
  </div>
</section>
