<div class="max-w-screen-xl my-0 mx-auto w-11/12">
  <div class="flex flex-col items-center gap-5 my-6">
    <h1>POLITYKA PRYWATNOŚCI</h1>
    <p>
      Przykładamy dużą wagę do ochrony Państwa prywatności. Pragniemy zapewnić, że traktujemy Państwa dane ze
      starannością i uwzględnieniem obowiązujących przepisów dotyczących ochrony danych osobowych. Niniejsza polityka
      opisuje w szczególności rodzaje danych, jakie możemy od Państwa zbierać lub jakie możecie Państwo nam przekazywać
      oraz zasady ich zbierania, wykorzystywania, przetwarzania, ujawniania i ochrony. W niniejszej Polityce możecie
      Państwo znaleźć informacje o uprawnieniach, które przysługują w związku z przetwarzaniem Państwa danych osobowych,
      w szczególności o prawie związanym z dostępem do danych, możliwości ich aktualizowania, a także podejmowania
      pewnych decyzji, co do sposobu wykorzystania Państwa informacji. Niniejsza Polityka obejmuje zarówno nasze
      procedury online, jak i offline dotyczące gromadzenia danych. Polityka prywatności obowiązuje wszystkie osoby
      odwiedzające stronę dostępną pod adresem https://yuppie.com.pl/. Niniejsza Polityka może ulegać zmianom, zatem
      prosimy regularnie odwiedzać nasz Serwis. Pragniemy poinformować, że w Serwisie mogą znajdować się linki do stron
      internetowych innych podmiotów, a podmioty te mogą posiadać własną politykę prywatności, z którą należy się
      zapoznać. Nie ponosimy odpowiedzialności za praktyki dotyczące prywatności stron trzecich. Niezależnie od
      postanowień niniejszej Polityki, w niektórych sytuacjach możemy wystąpić o Państwa wyraźną i dobrowolną zgodę na
      przetwarzanie danych osobowych, jeżeli zgoda taka jest wymagana na mocy obowiązujących przepisów prawa.
    </p>
    <h2>1. Informacje ogólne</h2>
    <p>
      1.1. Poniższa Polityka prywatności ma na celu poinformowanie o sposobie wykorzystywania przez nas Państwa danych
      osobowych, względem których spełniamy wszystkie wymogi Rozporządzenia Parlamentu Europejskiego i Rady (UE)
      2016/679 UE z dnia 27 kwietnia 2016 r. (dalej jako: „RODO”).
      1.2. Niektóre pojęcia używane w niniejszej Polityce Prywatności:
      • Dane osobowe – w rozumieniu definicji zawartej w art. 4 pkt. 1) RODO, dane osobowe są to informacje o osobie
      fizycznej zidentyfikowanej lub możliwej do zidentyfikowania poprzez jeden bądź kilka szczególnych czynników
      określających fizyczną, fizjologiczną, genetyczną, psychiczną, ekonomiczną, kulturową lub społeczną tożsamość, w
      tym imię i nazwisko, numer telefonu, adres poczty elektronicznej, dane o lokalizacji, identyfikator internetowy
      urządzenia, oraz informacje gromadzone za pośrednictwem plików cookies oraz innej podobnej technologii.
      • Polityka – niniejszy dokument Polityki prywatności.
      • Serwis – kanały lub media cyfrowe wykorzystywane przez Użytkownika, którymi są: strona internetowa
      https://yuppie.com.pl/ oraz aplikacja mobilna ……..
      • Użytkownik – każda osoba fizyczna odwiedzająca Serwis lub korzystająca z jednej albo kilku usług lub
      funkcjonalności wskazanych w niniejszej Polityce.
      • Usługi – wszystkie usługi świadczone drogą elektroniczną za pośrednictwem Serwisu.
    </p>
    <h2>2. Administrator danych osobowych</h2>
    <p>
      2.1. Administratorem Państwa danych osobowych w rozumieniu RODO, jest NIX Group Sp. z o.o. z siedzibą w Przemyśl,
      ul. 3-go Maja 8, 37-700 Przemyśl wpisana do Rejestru Przedsiębiorców Krajowego Rejestru Sądowego prowadzonego
      przez Sąd Rejonowy w Rzeszowie, XII Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS: 0000981979,
      NIP: 7952570398, REGON: 522576144, numer telefonu: ………………….. (dalej jako: „Administrator”). W sprawach dotyczących
      ochrony danych osobowych można się skontaktować z Administratorem za pośrednictwem adresu poczty
      elektronicznej: yuppie&#64;yuppie.com.pl lub pisemnie na wskazany wyżej adres.
    </p>
    <h2>3. Rodzaje i cele przetwarzania danych osobowych</h2>
    <p>
      3.1. Rodzaje przetwarzanych danych osobowych:
      • dane zbierane podczas rejestracji (aby Użytkownik mógł skorzystać z niektórych Usług w Serwisie będzie musiał
      utworzyć konto poprzez rejestrację; podczas rejestracji wymagane będzie wskazanie adresu poczty elektronicznej
      oraz hasła jakiego Użytkownik będzie używał w celu skorzystania z usług)
      • dane zbierane podczas korzystania z Usług (m.in. imię, nazwisko, adres zamieszkania, numer telefonu)
      • dane zbierane automatycznie (podczas wizyty Użytkownika w Serwisie automatycznie zbierane są dane dotyczące tej
      wizyty np. adres IP Użytkownika, nazwa domeny, typ przeglądarki, typ systemu operacyjnego, itp.)
      • dane zbierane, gdy Użytkownik kontaktuje się z Administratorem (gdy Użytkownik kontaktuje się z Administratorem
      za pomocą Serwisu, telefonu, poczty elektronicznej, itp. przekazuje Administratorowi swoje dane osobowe, np. imię,
      nazwisko, adres poczty elektronicznej itp.)
      3.2. Użytkownik powinien mieć na uwadze, że jeśli Administrator poprosi o podanie jego danych osobowych, w celu
      udzielenia mu dostępu do którejkolwiek z Usług dostępnych w Serwisie, niektóre z pól zaznaczone będą, jako
      „obowiązkowe”, ponieważ są to dane, które są mu niezbędne do świadczenia danej Usługi. Jeżeli Użytkownik nie
      zdecyduje się udostępnić Administratorowi tych danych, nie będzie mógł zarejestrować się lub nie będzie miał
      możliwości skorzystania z tych Usług.
      3.3. Główne cele, dla których Administrator przetwarza dane osobowe:
      3.3.1. Korzystanie z Serwisu - dane osobowe wszystkich osób korzystających z Serwisu (w tym adres IP lub inne
      identyfikatory oraz informacje gromadzone za pośrednictwem plików cookies czy innych podobnych technologii),
      przetwarzane są przez Administratora:
      • w celu świadczenia usług drogą elektroniczną w zakresie udostępniania Użytkownikom treści gromadzonych w
      Serwisie – wówczas podstawą prawną przetwarzania jest niezbędność przetwarzania do wykonania umowy (art. 6 ust. 1
      lit. b RODO);
      • w celu spełnienia obowiązków prawnych ciążących na Administratorze, takich jak weryfikacja wieku, wynikających z
      ustawy o ochronie zdrowia przed następstwami używania tytoniu i wyrobów tytoniowych (art. 6 ust. 1 lit. c RODO);
      • w celach analitycznych i statystycznych – wówczas podstawą prawną przetwarzania jest prawnie uzasadniony interes
      Administratora (art. 6 ust. 1 lit. f RODO), polegający na prowadzeniu analiz aktywności Użytkowników, a także ich
      preferencji w celu poprawy stosowanych funkcjonalności i świadczonych usług;
      • w celu ustalenia i dochodzenia roszczeń lub obrony przed roszczeniami – podstawą prawną przetwarzania jest
      prawnie uzasadniony interes Administratora (art. 6 ust. 1 lit. f RODO), polegający na ochronie jego praw.

      3.3.2. Formularz kontaktowy - Administrator zapewnia możliwość skontaktowania się z nim przy wykorzystaniu
      elektronicznych formularzy kontaktowych. Skorzystanie z formularza wymaga podania danych osobowych, niezbędnych do
      nawiązania kontaktu z Użytkownikiem i udzielenia odpowiedzi na zapytanie. Użytkownik może podać także inne dane w
      celu ułatwienia kontaktu lub obsługi zapytania. Podanie danych oznaczonych jako obowiązkowe jest wymagane w celu
      przyjęcia i obsługi zapytania, a ich niepodanie skutkuje brakiem możliwości obsługi. Podanie pozostałych danych
      jest dobrowolne. Dane osobowe przetwarzane są przez Administratora:
      • w celu identyfikacji nadawcy oraz obsługi jego zapytania przesłanego przez udostępniony formularz – podstawą
      prawną przetwarzania jest uzasadniony interes Administratora (art. 6ust. 1 lit. f RODO), za jaki uważamy odpowiedź
      na zapytanie, utrzymanie konwersacji, udzielenie informacji; w zakresie danych podanych fakultatywnie podstawą
      prawną przetwarzania jest zgoda (art. 6 ust. 1 lit. a RODO);
      • w celach analitycznych i statystycznych – podstawą prawną przetwarzania jest uzasadniony interes Administratora
      (art. 6ust. 1 lit. f) RODO), polegający na prowadzeniu statystyk zapytań zgłaszanych przez Użytkowników za
      pośrednictwem Serwisu w celu doskonalenia jego funkcjonalności.

      3.3.3. Rozpatrywanie reklamacji - dane osobowe w tym zakresie przetwarzamy do czasu upływu rękojmi lub
      rozpatrzenia reklamacji. Podanie danych jest konieczne do realizacji procesu reklamacyjnego. Brak podania danych
      uniemożliwi Administratorowi rozpatrzenie reklamacji. Dane osobowe przetwarzane w związku ze złożoną reklamacją
      wykorzystywane są w celu:
      • wykonania obowiązków prawnych ciążących na Administratorze związanych z przepisami reklamacyjnymi wynikającymi
      m.in. z Kodeksu cywilnego (art. 6 ust. 1 lit. c) RODO);
      • ustalenia, dochodzenia i obrony ewentualnych roszczeń (art.6 ust. 1 lit. f) RODO).

      3.3.4. Newsletter - dane osobowe Użytkownika mogą być wykorzystywane przez Administratora, aby kierować do niego
      treści marketingowe różnymi kanałami tj. za pośrednictwem poczty e-mail, drogą SMS/MMS oraz za pomocą połączeń
      telefonicznych. Takie działania są podejmowane przez Administratora wyłącznie w przypadku, gdy Użytkownik wyraził
      na nie zgodę. Wyrażoną zgodę można wycofać w każdym czasie bez wpływu na zgodność z prawem przetwarzania
      dokonanego przed jej wycofaniem. Zgodę wycofać można albo poprzez skorzystanie z przycisku anuluj subskrypcję,
      który dostępny jest w każdym mailu wysyłanym do Użytkownika. Dane osobowe są przetwarzane w celu:
      • w celu przesłania zamówionej informacji handlowej – podstawą prawną przetwarzania jest wyrażona zgoda (art. 6
      ust. 1 lit. a RODO);
      • w celach analitycznych i statystycznych – podstawą prawną przetwarzania jest prawnie uzasadniony interes
      Administratora (art. 6 ust. 1 lit. f RODO), polegający na prowadzeniu oceny skuteczności prowadzonych kampanii
      reklamowych.

      3.3.5. Marketing - Dane osobowe Użytkownika, w tym klienta biznesowego mogą być wykorzystywane przez
      Administratora, aby kierować do niego treści marketingowe różnymi kanałami, np. za pośrednictwem poczty e-mail lub
      bezpośrednio podczas realizowanych spotkań biznesowych. Takie działania są podejmowane przez Administratora
      wyłącznie w przypadku, gdy Użytkownik, w tym klient biznesowy wyraził na nie zgodę, którą może wycofać w dowolnym
      momencie. Dane osobowe przetwarzane są w celu:
      • przesłania informacji o nowej ofercie produktowej – podstawą prawną przetwarzania, jest prawnie uzasadniony
      interes Administratora (art. 6 ust. 1 lit. f RODO) w związku z wyrażoną zgodą. Administrator może w niektórych
      przypadkach realizować także marketing bezpośredni za pośrednictwem poczty tradycyjnej. O zamiarze prowadzenia
      tego rodzaju marketingu Użytkownik zostanie odrębnie poinformowany. Względem tego rodzaju marketingu Użytkownikowi
      przysługuje prawo sprzeciwu.
      • rekomendowania Użytkownikowi Usługi i funkcje Serwisu w oparciu o interakcje z Serwisem oraz analizę profilu
      Użytkownika np. na podstawie historii zakupów i przeglądanych stron internetowych.
    </p>
    <h2>4. Podstawa prawna przetwarzania danych osobowych oraz źródła danych.</h2>
    <p>
      4.1. Dane osobowe są przetwarzane zgodnie z przepisami Rozporządzenia Parlamentu Europejskiego i Rady (UE)
      2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych
      i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 35/46/WE.

      4.2. Administrator przetwarza dane osobowe wyłącznie po uprzednim uzyskaniu zgody Użytkownika, a wyrażenia zgody
      na przetwarzanie danych osobowych jest dobrowolne.

      4.3. Dane osobowe są zbierane przez Administratora poprzez:
      • stronę internetową – za pomocą formularzy dostępnych w Serwisie,
      • analizę logów dostępowych,
      • informacje dostarczane przez Użytkownika telefonicznie lub listownie,
      • korespondencję mailową, smsową oraz inne wiadomości elektroniczne obejmujące komunikację elektroniczną między
      Użytkownikiem a Administratorem,
      • formularze zapisu do newslettera wypełniane bezpośrednio w Serwisie lub w punktach sprzedaży prowadzonych przez
      Administratora.
    </p>
    <h2>5. Okres przechowywania danych osobowych</h2>
    <p>
      5.1. Administrator przetwarza dane osobowe Użytkownika jedynie przez okres niezbędny do spełnienia celu ich
      przechowywania lub dopóki jest to od niego wymagane zgodnie z przepisami prawa, w szczególności do momentu
      przedawnienia ewentualnych roszczeń lub wygaśnięcia obowiązku archiwizacji wynikającego z przepisów prawa, w tym
      obowiązku dotyczącego przechowywania dokumentów księgowych.
      5.2. Po upływie okresu przetwarzania dane osobowe Użytkownika są nieodwracalnie usuwane lub anonimizowane.
      5.3. W razie przetwarzania danych osobowych w oparciu o wyrażoną przez Użytkownika zgodę, jego dane będą
      przechowywane do momentu jej wycofania. W każdej chwili istnieje możliwość wycofania zgód wyrażonych w Serwisie.
      Odwołanie zgody na przetwarzanie nie będzie miało wpływu na zgodność z prawem przetwarzania, którego dokonano
      przed jej wycofaniem.
    </p>
    <h2>6. Prawa przysługujące Użytkownikowi</h2>
    <p>
      6.1. Użytkownik może w każdej chwili zażądać od Administratora informacji o zakresie przetwarzania danych
      osobowych.
      6.2. Użytkownik może w każdej chwili zażądać poprawienia bądź sprostowania swoich danych osobowych, jak również
      ich uzupełnienia, jeśli są nieprawidłowe lub niekompletne.
      6.3. Użytkownik może w każdej chwili wycofać swoją zgodę na przetwarzanie jego danych osobowych, bez podawania
      przyczyny. Żądanie nieprzetwarzania danych może dotyczyć wskazanego przez Użytkownika konkretnego celu
      przetwarzania bądź dotyczyć wszystkich celów przetwarzania danych. Wycofanie zgody co do wszystkich celów
      przetwarzania spowoduje, usunięcie konta Użytkownika z Platformy, wraz ze wszystkimi wcześniej przetwarzanymi
      przez Administratora danymi osobowymi Użytkownika. Wycofanie zgody nie wpłynie na już dokonane czynności.
      6.4. Użytkownik może w każdej chwili żądać bez podawania przyczyny, aby Administrator usunął jego dane. Żądanie
      usunięcia nie wpłynie na dotychczas dokonane czynności. Usunięcie danych oznacza jednoczesne usunięcie konta
      Użytkownika, wraz ze wszystkimi zapisanymi i przetwarzanymi do tej pory przez Administratora danymi osobowymi.
      6.5. Użytkownik może w każdej chwili wyrazić sprzeciw przeciwko przetwarzaniu danych osobowych, zarówno w zakresie
      wszystkich przetwarzanych przez Administratora danych osobowych Użytkownika, jak również w ograniczonym zakresie
      np. co do przetwarzania danych w konkretnie wskazanym celu. Sprzeciw nie wpłynie na dotychczas dokonane czynności.
      Wniesienie sprzeciwu spowoduje usunięcie konta Użytkownika, wraz ze wszystkimi zapisanymi i przetwarzanymi do tej
      pory przez Administratora danymi osobowymi.
      6.6. Użytkownik może zażądać ograniczenia przetwarzania danych osobowych, czy to przez określony czas, czy też bez
      ograniczenia czasowego, ale w określonym zakresie, co Administrator będzie obowiązany spełnić. Żądanie to nie
      wpłynie na dotychczas dokonane czynności.
      6.7. Użytkownik może zażądać, aby Administrator przekazał innemu podmiotowi, przetwarzane dane osobowe
      Użytkownika. Powinien w tym celu napisać prośbę do Administratora, wskazując, jakiemu podmiotowi (nazwa i adres)
      należy przekazać dane osobowe Użytkownika oraz jakie konkretne dane Użytkownika życzy sobie, że Administrator
      przekazał. Administrator przekaże, w formie elektronicznej, wskazanemu podmiotowi dane osobowe Użytkownika.
      6.8. Użytkownik może wnieść skargę do organu nadzorczego (Prezesa Urzędu Ochrony Danych Osobowych), o ile uzna, że
      przetwarzanie jego danych osobowych odbywa się z naruszeniem przepisów RODO.

      6.9. Prawa wskazane w punkcie 6.1.-6.8. nie zawsze mają charakter bezwzględny. W indywidualnych przypadkach prawa
      Użytkownika mogą być ograniczone lub wykonanie niektórych praw może być uzależnione od spełnienia innych wymagań
      prawnych. W każdym przypadku po otrzymaniu od Użytkownika wniosku Administrator udzieli niezbędnych wyjaśnień,
      jeżeli nie będzie mógł zrealizować któregokolwiek żądania Użytkownika.

      6.10. W celu realizacji powyższych uprawnień Użytkownik obowiązany jest niezwłocznie skontaktować się z
      Administratorem za pośrednictwem poczty elektronicznej wskazanej w punkcie 2.1. lub przesłać stosowny wniosek
      pocztą tradycyjną na adres wskazany w punkcie 2.1. Administrator informuje, że przed przystąpieniem do realizacji
      praw wskazanych w punkcie 6.1-6.8., dokona weryfikacji tożsamości osoby żądającej podjęcia przez Administratora
      stosownych działań, tym samym może zwrócić z prośbą o przedstawienie dodatkowych informacji w celu jego
      prawidłowej identyfikacji. Administrator realizuje żądanie Użytkownika w terminie 1 miesiąca od dnia jego
      otrzymania.
    </p>
    <h2>7. Udostępnianie danych osobowych osobom trzecim </h2>
    <p>
      7.1. Administrator zastrzega, że mogą zaistnieć okoliczności, w których zdecyduje się on sprzedać albo przenieść
      całość lub część swojego przedsiębiorstwa lub aktywów. W takim wypadku dane osobowe Użytkowników mogą być
      przekazane lub udostępnione przez Administratora podmiotom trzecim w ramach oraz w związku z planowaną transakcją.
      W takich sytuacjach Administrator zapewni zobowiązanie podmiotów trzecich do zapewnienia adekwatnej ochrony dla
      danych osobowych zebranych za pośrednictwem Serwisu. Dodatkowo Administrator poinformuje Użytkowników o ww.
      okolicznościach, a Użytkownikom będzie przysługiwało prawo żądania usunięcia ich danych zgodnie z pkt. 6
      niniejszego dokumentu.
      7.2. Administrator przekazuje dane wyłącznie podmiotom, które wiąże odpowiedni standard bezpieczeństwa.
      Administrator na bieżąco prowadzi analizę ryzyka w celu zapewnienia, że dane osobowe przetwarzane są przez niego w
      sposób bezpieczny – zapewniający przede wszystkim, że dostęp do danych mają jedynie osoby upoważnione i jedynie w
      zakresie, w jakim jest to niezbędne ze względu na wykonywane przez nie zadania. Administrator dba o to, by
      wszystkie operacje na danych osobowych były rejestrowane i dokonywane jedynie przez uprawnionych pracowników i
      współpracowników. Administrator podejmuje wszelkie niezbędne działania, by także jego podwykonawcy i inne podmioty
      współpracujące dawały gwarancję stosowania odpowiednich środków bezpieczeństwa w każdym przypadku, gdy
      przetwarzają dane osobowe na zlecenie Administratora.
      7.3. Dane osobowe mogą być przekazane podmiotom przetwarzającym je na zlecenie Administratora na podstawie umów
      zawartych z Administratorem, ale tylko w celu i zakresie niezbędnym dla realizacji ww. celów, w tym m.in.
      podmiotom świadczącym na rzecz Administratora usługi IT lub inne usługi zapewniające prawidłowe funkcjonowanie
      Serwisu, przy czym takie podmioty przetwarzają dane wyłącznie zgodnie z poleceniami Administratora.
      7.4. Poza celami, wskazanymi w niniejszej Polityce prywatności, dane osobowe Użytkowników nie będą w żaden sposób
      udostępniane osobom trzecim, ani przekazywane innym podmiotom, w celu przesyłania materiałów marketingowych tych
      osób trzecich
      7.5. Zebrane dane osobowe Administrator przechowuje na terenie Europejskiego Obszaru Gospodarczego, ale mogą one
      być także przesyłane do kraju spoza tego obszaru i tam przetwarzane. Każda operacja przesyłania danych osobowych
      jest wykonywana zgodnie z obowiązującym prawem.
    </p>
    <h2>8. Pliki cookies</h2>
    <p>
      8.1. Pliki cookies (tzw. „ciasteczka”) to niewielkie pliki tekstowe, które są zapisywane na urządzeniu
      Użytkownika, gdy korzysta on z Serwisu.
      8.2. Pliki cookies stosowane na stronie internetowej Administratora nie przechowują danych pozwalających na
      bezpośrednią identyfikację Użytkownika. Każdy plik cookie posiada anonimowy identyfikator i pozwala zidentyfikować
      urządzenie, w którego pamięci został zapisany przez określony czas (czas, po którym dany plik cookie zostanie
      usunięty). 
      8.3. Dane uzyskane za pośrednictwem plików cookies nie są przesyłane i udostępniane osobom trzecim tj. podmiotom
      innym niż Administrator.

      8.4. Aktywność Użytkownika w Serwisie, w tym jego dane osobowe, są rejestrowane w logach systemowych (specjalnym
      programie komputerowym służącym do przechowywania chronologicznego zapisu zawierającego informację o zdarzeniach i
      działaniach dotyczących systemu informatycznego służącego do świadczenia usług przez Administratora). Zebrane w
      logach informacje przetwarzane są przede wszystkim w celach związanych ze świadczeniem usług. Administrator
      przetwarza również te dane w celach technicznych, administracyjnych, na potrzeby zapewnienia bezpieczeństwa
      systemu informatycznego oraz zarządzania nim, a także w celach analitycznych i statystycznych – w tym zakresie
      podstawą prawną przetwarzania jest prawnie uzasadniony interes Administratora (art. 6 ust. 1 lit. f) RODO).

      8.5. Administrator wykorzystuje Pliki cookies w szczególności w następujących celach:
      • umożliwienie Użytkownikowi dostępu do Serwisu;
      • ułatwienie Użytkownikowi korzystanie z Serwisu;
      • zapewnienie prawidłowego działania stron internetowych w ramach Serwisu;
      • tworzenie statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron
      internetowych, co umożliwia ulepszanie ich struktury i zawartości;
      • celu marketingowym – jednak wyłącznie wtedy, gdy Użytkownik wyrazi na to zgodę przy pierwszym wejściu do
      Serwisu.

      8.6. W ramach Serwisu stosowane są następujące rodzaje plików cookies:
      • sesyjne – są to pliki tymczasowe, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania,
      opuszczenia strony internetowej lub wyłączenia oprogramowania;
      • stałe – są to pliki przechowywane przez czas określony w ich parametrach lub do czasu usunięcia ich przez
      Użytkownika;
      • niezbędne – są to pliki instalowane, aby zapewnić Użytkownikowi dostęp do Serwisu i jego podstawowych funkcji,
      nie wymagają zatem zgody Użytkownika. Bez niezbędnych plików cookies Administrator nie byłby w stanie świadczyć
      Użytkownikom usług w ramach Serwisu.
      • statystyczne – umożliwiają sprawdzenie liczby wizyt i źródeł ruchu w Serwisie. Pomagają rozpoznać, które strony
      są mniej lub bardziej popularne, i zrozumieć, jak Użytkownicy poruszają się po stronie. Dzięki temu Administrator
      może poprawiać wydajność Serwisu.
      • reklamowe – wykorzystywane są w celu dostarczenia reklam zgodnych z zainteresowaniami i preferencjami
      Użytkowników. Na podstawie informacji z tych plików i aktywności w innych serwisach jest budowany profil
      zainteresowań Użytkowników.

      8.7. Administrator stosuje również pliki cookies podmiotów trzecich w ramach Serwisu (tzw. zewnętrze pliki
      cookies), którymi są Google Analytics. Są to pliki wykorzystywane przez spółkę Google w celu analizy sposobu
      korzystania z Serwisu przez Użytkownika, do tworzenia statystyk i raportów dotyczących funkcjonowania Serwisu.
      Google nie wykorzystuje zebranych danych do identyfikacji Użytkownika ani nie łączy tych informacji w celu
      umożliwienia identyfikacji. Szczegółowe informacje o zakresie i zasadach zbierania danych w związku z tą usługą
      można znaleźć pod linkiem: https://www.google.com/intl/pl/policies/privacy/partners.

      8.7.1. W danych przekazywanych do Google Analytics wykorzystywane są pliki cookies firmy Google LLC, są to dane
      takie jak:
      • Zapamiętywanie unikalnego ID służące do generowania statystyk zawierające dane o wykorzystaniu witryny przez
      Użytkownika.
      • Zbieranie danych o liczbie odwiedzin witryny przez Użytkownika a także o datach pierwszej i najbardziej
      aktualnej wizyty.
      • Zbierania danych demograficznych oraz danych o zainteresowaniach.
      • Zbieranie danych o języku w jakiego używa Użytkownik w swojej przeglądarce.
      • Zbieranie danych o lokalizacji urządzenia z jakiego korzysta Użytkownik przeglądając witrynę.

      8.8. W zakresie zmian ustawień dotyczących plików cookies w Serwisie stosowana jest platforma zarządzania zgodą
      (dalej: CMP). Ma ona na celu ułatwić Użytkownikowi zarządzanie swoimi preferencjami w zakresie plików cookies.

      8.8.1 Użytkownik może za pomocą CMP zmieniać swoje ustawienia dotyczące plików cookies, w szczególności:
      a) pozyskać szczegółowe informacje na temat plików cookies wykorzystywanych w Serwisie oraz zaufanych partnerów
      Administratora;
      b) wyrazić i wycofać zgodę na wykorzystanie przez Administratora i zaufanych partnerów opcjonalnych plików
      cookies;
      c) zmieniać wybrane wcześniej ustawienia.

      8.8.2. Użytkownik ma możliwość samodzielnego zarządzania plikami cookies. W przeglądarce jest możliwość
      zaakceptowania plików cookies, co pozwala na pełne korzystanie z opcji oferowanych przez Serwis lub określenia
      ustawień dla różnych typów plików cookies. Użytkownik może w każdej chwili wyłączyć w swojej przeglądarce
      internetowej opcję przyjmowania plików cookies. Może to spowodować pewne utrudnienia w korzystaniu z Serwisu.
      Wycofanie zgody na wykorzystanie plików cookies możliwe jest za pośrednictwem ustawień przeglądarki. Szczegółowe
      informacje na ten temat można znaleźć pod poniższymi linkami:
      • Internet Explorer: https://support.microsoft.com/pl-pl/help/17442/windows internetexplorer-delete-manage-cookies
      • Mozilla Firefox: http://support.mozilla.org/pl/kb/ciasteczka
      • Google Chrome: http://support.google.com/chrome/bin/answer.py?hl=pl&answer=95647
      • Opera: http://help.opera.com/Windows/12.10/pl/cookies.html
      • Safari: https://support.apple.com/kb/PH5042?locale=en-GB
    </p>
    <h2>9. Prawa autorskie</h2>
    <p>
      9.1. Wszystkie treści umieszczone w Serwisie stanowią przedmiot praw autorskich Administratora Serwisu (np.
      zdjęcia, teksty, wideo) i podlegają ochronie na mocy przepisów prawa. Administrator nie wyraża zgody na kopiowanie
      tychże treści w całości lub części bez jego wyraźnej, uprzedniej zgody. Treści umieszczone w Serwisie są aktualne
      na dzień ich zamieszczenia, chyba że wskazano inaczej.
    </p>
    <h2>10. Zagrożenia związane z korzystaniem z Serwisu</h2>
    <p>
      10.1. Użytkownik powinien mieć świadomość, że dane przekazywane w publicznej sieci telekomunikacyjnej pomiędzy
      jego urządzeniem a Serwisem nie są całkowicie bezpieczne. Administrator nie jest w stanie zapewnić pełnej ochrony
      i bezpieczeństwa tych danych podczas komunikacji z Serwisem. Niemniej, Administrator gwarantuje, że podejmie
      wszelkie stosowne działania w celu zabezpieczenia danych przesyłanych do niego drogą elektroniczną, w
      szczególności danych osobowych podawanych przez Użytkownika w formie elektronicznej.
    </p>

    <h2>11. Zmiany w Polityce prywatności.</h2>

    <p>
      11.1. Informujemy, że niniejszy dokument jest na bieżąco weryfikowany i aktualizowany przez Administratora.
      11.2. W celu zapewnienia przez Administratora, aby Polityka prywatności spełniała aktualne wymogi nałożone
      przepisami prawa, zastrzegamy sobie prawo do wprowadzania w niej zmian w dowolnym czasie. Powyższe ma również
      zastosowanie w przypadkach, gdy Polityka prywatności wymaga zmian w celu objęcia nią nowych lub zmienionych usług
      Serwisu. Wszelkie zmiany niniejszego dokumentu będą publikowane w Serwisie.
      11.2. W każdym przypadku, zalecamy Użytkownikowi czytać regularnie niniejszą Politykę prywatności, na wypadek
      gdyby wprowadzone w niej zostały niewielkie zmiany lub jakiekolwiek interaktywne ulepszenie, wykorzystując fakt,
      że stanowi ona stałe źródło informacji dostępne w naszym Serwisie.
      11.3. Niniejsza wersja Polityki prywatności obowiązuje od ……….
    </p>

  </div>
</div>
