<div class="max-w-screen-xl my-0 mx-auto w-11/12">
  <div class="flex flex-col items-center gap-5 my-6">
    <h1>POLITYKA PRYWATNOŚCI</h1>
    <p>
      Przykładamy dużą wagę do ochrony Państwa prywatności. Pragniemy zapewnić, że traktujemy Państwa dane ze
      starannością i uwzględnieniem obowiązujących przepisów dotyczących ochrony danych osobowych. Niniejsza polityka
      opisuje w szczególności rodzaje danych, jakie możemy od Państwa zbierać lub jakie możecie Państwo nam przekazywać
      oraz zasady ich zbierania, wykorzystywania, przetwarzania, ujawniania i ochrony. W niniejszej Polityce możecie
      Państwo znaleźć informacje o uprawnieniach, które przysługują w związku z przetwarzaniem Państwa danych osobowych,
      w szczególności o prawie związanym z dostępem do danych, możliwości ich aktualizowania, a także podejmowania
      pewnych decyzji, co do sposobu wykorzystania Państwa informacji. Niniejsza Polityka obejmuje zarówno nasze
      procedury online, jak i offline dotyczące gromadzenia danych. Polityka prywatności obowiązuje wszystkie osoby
      odwiedzające stronę dostępną pod adresem https://yuppie.com.pl/. Niniejsza Polityka może ulegać zmianom, zatem
      prosimy regularnie odwiedzać nasz Serwis. Pragniemy poinformować, że w Serwisie mogą znajdować się linki do stron
      internetowych innych podmiotów, a podmioty te mogą posiadać własną politykę prywatności, z którą należy się
      zapoznać. Nie ponosimy odpowiedzialności za praktyki dotyczące prywatności stron trzecich. Niezależnie od
      postanowień niniejszej Polityki, w niektórych sytuacjach możemy wystąpić o Państwa wyraźną i dobrowolną zgodę na
      przetwarzanie danych osobowych, jeżeli zgoda taka jest wymagana na mocy obowiązujących przepisów prawa.
    </p>
    <h2>I. ZAKRES NINIEJSZEJ POLITYKI</h2>
    <p>
      Przykładamy dużą wagę do ochrony Twojej prywatności. Pragniemy zapewnić,
      że traktujemy Twoje dane ze starannością i uwzględnieniem zobowiązań
      wynikających z obowiązujących przepisów dotyczących ochrony danych
      osobowych. Niniejsza polityka opisuje rodzaje danych, jakie możemy od
      Ciebie zbierać lub jakie możesz przekazywać nam oraz zasady ich zbierania,
      wykorzystywania, przetwarzania, ujawniania i ochrony. Znajdziesz tu także
      informacje o uprawnieniach, które przysługują Ci w związku z
      przetwarzaniem Twoich danych osobowych, w szczególności o prawie związanym
      z dostępem do danych, możliwości ich aktualizowania, a także podejmowania
      pewnych decyzji, co do sposobu wykorzystania Twoich informacji. Niniejsza
      Polityka obejmuje zarówno nasze procedury online, jak i offline dotyczące
      gromadzenia danych. Polityka obowiązuje wszystkie osoby odwiedzające
      stronę dostępną pod adresem https://yuppie.com.pl/ Niniejsza Polityka może
      ulegać zmianom, zatem prosimy regularnie odwiedzać nasz Serwis. Na stronie
      mogą znajdować się linki do stron internetowych innych podmiotów. Podmioty
      te mogą mieć własną politykę prywatności, z którą należy się zapoznać. Nie
      ponosimy odpowiedzialności za praktyki dotyczące prywatności stron
      trzecich. Niezależnie od postanowień niniejszej Polityki, w niektórych
      sytuacjach możemy wystąpić o Twoją wyraźną i dobrowolną zgodę na
      przetwarzanie Twoich danych osobowych, jeżeli zgoda taka jest wymagana na
      mocy prawa.
    </p>
    <h2>II. DEFINICJE</h2>
    <p>
      Administrator (Administrator Serwisu/Administrator danych osobowych
      Użytkowników Serwisu) – NIX Group sp. z o.o. z siedzibą w Przemyśl, adres
      siedziby: ul. 3-go Maja 8, 37-700 Przemyśl. Dane osobowe – wszelkie
      informacje o zidentyfikowanej lub możliwej do zidentyfikowania osobie
      fizycznej („osobie, której dane dotyczą”); możliwa do zidentyfikowania
      osoba fizyczna to osoba, którą można bezpośrednio lub pośrednio
      zidentyfikować, w szczególności na podstawie identyfikatora takiego jak
      imię i nazwisko, numer identyfikacyjny, dane o lokalizacji, identyfikator
      internetowy lub jeden bądź kilka szczególnych czynników określających
      fizyczną, fizjologiczną, genetyczną, psychiczną, ekonomiczną, kulturową
      lub społeczną tożsamość osoby fizycznej. Polityka – niniejsza Polityka
      prywatności. RODO – Rozporządzenie Parlamentu Europejskiego i Rady (UE)
      2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w
      związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu
      takich danych oraz uchylenia dyrektywy 95/46/WE. Serwis – strona
      internetowa prowadzona przez Administratora pod adresem:
      https://yuppie.com.pl/. Użytkownik – każda osoba fizyczna odwiedzająca
      Serwis lub korzystająca z jednej albo kilku usług czy funkcjonalności
      opisanych w Polityce.
    </p>
    <h2>III. ŹRÓDŁA DANYCH</h2>
    <p>
      Dane osobowe mogą być przez nas zbierane w następujący sposób: • strona
      internetowa Administratora – za pomocą formularzy dostępnych w Serwisie, •
      poprzez analizę logów dostępowych, • informacje dostarczone przez
      Użytkownika telefonicznie, listownie, • korespondencja e-mail, SMS oraz
      inne wiadomości elektroniczne obejmujące komunikację elektroniczną między
      Użytkownikiem a Administratorem, • formularze zapisu do newslettera
      wypełniane bezpośrednio w Serwisie lub w punktach sprzedaży prowadzonych
      przez Administratora.
    </p>
    <h2>IV. PRZETWARZANIE DANYCH W ZWIĄZKU Z KORZYSTANIEM Z SERWISU</h2>
    <p>
      W związku z korzystaniem przez Użytkownika z Serwisu Administrator zbiera
      dane w zakresie niezbędnym do świadczenia poszczególnych oferowanych
      usług, a także informacje o aktywności Użytkownika w Serwisie. Poniżej
      zostały opisane szczegółowe zasady oraz cele przetwarzania danych
      osobowych gromadzonych podczas korzystania z Serwisu przez Użytkownika.
    </p>
    <h2>V. CELE I PODSTAWY PRAWNE PRZETWARZANIA DANYCH W SERWISIE</h2>
    <p>
      a) Korzystanie z Serwisu Dane osobowe wszystkich osób korzystających z
      Serwisu (w tym adres IP lub inne identyfikatory oraz informacje gromadzone
      za pośrednictwem plików cookies czy innych podobnych technologii),
      przetwarzane są przez Administratora: • w celu świadczenia usług drogą
      elektroniczną w zakresie udostępniania Użytkownikom treści gromadzonych w
      Serwisie – wówczas podstawą prawną przetwarzania jest niezbędność
      przetwarzania do wykonania umowy (art. 6 ust. 1 lit. b RODO); • w celu
      spełnienia obowiązków prawnych ciążących na Administratorze, takich jak
      weryfikacja wieku, wynikających z ustawy o ochronie zdrowia przed
      następstwami używania tytoniu i wyrobów tytoniowych (art. 6 ust. 1 lit. c
      RODO); • w celach analitycznych i statystycznych – wówczas podstawą prawną
      przetwarzania jest prawnie uzasadniony interes Administratora (art. 6 ust.
      1 lit. f RODO), polegający na prowadzeniu analiz aktywności Użytkowników,
      a także ich preferencji w celu poprawy stosowanych funkcjonalności i
      świadczonych usług; • w celu ustalenia i dochodzenia roszczeń lub obrony
      przed roszczeniami – podstawą prawną przetwarzania jest prawnie
      uzasadniony interes Administratora (art. 6 ust. 1 lit. f RODO), polegający
      na ochronie jego praw. b) Formularz kontaktowy Administrator zapewnia
      możliwość skontaktowania się z nim przy wykorzystaniu elektronicznych
      formularzy kontaktowych. Skorzystanie z formularza wymaga podania danych
      osobowych, niezbędnych do nawiązania kontaktu z Użytkownikiem i udzielenia
      odpowiedzi na zapytanie. Użytkownik może podać także inne dane w celu
      ułatwienia kontaktu lub obsługi zapytania. Podanie danych oznaczonych jako
      obowiązkowe jest wymagane w celu przyjęcia i obsługi zapytania, a ich
      niepodanie skutkuje brakiem możliwości obsługi. Podanie pozostałych danych
      jest dobrowolne. Dane osobowe przetwarzane są: • w celu identyfikacji
      nadawcy oraz obsługi jego zapytania przesłanego przez udostępniony
      formularz – podstawą prawną przetwarzania jest uzasadniony interes
      Administratora (art. 6 ust. 1 lit. f RODO), za jaki uważamy odpowiedź na
      zapytanie, utrzymanie konwersacji, udzielenie informacji; w zakresie
      danych podanych fakultatywnie podstawą prawną przetwarzania jest zgoda
      (art. 6 ust. 1 lit. a RODO); • w celach analitycznych i statystycznych –
      podstawą prawną przetwarzania jest uzasadniony interes Administratora
      (art. 6 ust. 1 lit. f) RODO), polegający na prowadzeniu statystyk zapytań
      zgłaszanych przez Użytkowników za pośrednictwem Serwisu w celu
      doskonalenia jego funkcjonalności. c) Rozpatrywanie reklamacji Dane
      osobowe przetwarzane w związku ze złożoną reklamacją wykorzystujemy w
      celu: • wykonania obowiązków prawnych ciążących na Administratorze
      związanych z przepisami reklamacyjnymi wynikającymi m.in. z Kodeksu
      cywilnego (art. 6 ust. 1 lit. c) RODO); • ustalenia, dochodzenia i obrony
      ewentualnych roszczeń (art. 6 ust. 1 lit. f) RODO). Dane przetwarzamy do
      czasu upływu rękojmi lub rozliczenia reklamacji. Podanie danych jest
      konieczne do realizacji procesu reklamacyjnego. Brak podania danych
      uniemożliwi nam rozpatrzenie reklamacji. d) Newsletter Twoje dane osobowe
      mogą być wykorzystywane przez Administratora, aby kierować do Ciebie
      treści marketingowe różnymi kanałami tj. za pośrednictwem poczty e-mail,
      drogą SMS/MMS oraz za pomocą połączeń telefonicznych. Takie działania są
      podejmowane przez Administratora wyłącznie w przypadku, gdy wyraziłeś na
      nie zgodę. Dane osobowe są przetwarzane: • w celu przesłania zamówionej
      informacji handlowej – podstawą prawną przetwarzania jest wyrażona zgoda
      (art. 6 ust. 1 lit. a RODO); • w celach analitycznych i statystycznych –
      podstawą prawną przetwarzania jest prawnie uzasadniony interes
      Administratora (art. 6 ust. 1 lit. f RODO), polegający na prowadzeniu
      oceny skuteczności prowadzonych kampanii reklamowych. Wyrażoną zgodę można
      wycofać w każdym czasie bez wpływu na zgodność z prawem przetwarzania
      dokonanego przed jej wycofaniem. Zgodę wycofać można albo poprzez
      skorzystanie z przycisku anuluj subskrypcję, który dostępny jest w każdym
      mailu wysyłanym do Ciebie albo zgodnie z zasadami opisanymi w części VII
      niniejszej Polityki. e) Marketing Dane osobowe klienta biznesowego mogą
      być wykorzystywane przez Administratora, aby kierować do niego treści
      marketingowe różnymi kanałami, tj. za pośrednictwem poczty e-mail lub
      bezpośrednio podczas realizowanych spotkań biznesowych. Takie działania są
      podejmowane przez Administratora wyłącznie w przypadku, gdy klient
      biznesowy wyraził na nie zgodę, którą może wycofać w dowolnym momencie.
      Dane osobowe przetwarzane są w celu przesłania informacji o nowej ofercie
      produktowej – podstawą prawną przetwarzania, jest prawnie uzasadniony
      interes Administratora (art. 6 ust. 1 lit. f RODO) w związku z wyrażoną
      zgodą. Administrator może w niektórych przypadkach realizować także
      marketing bezpośredni za pośrednictwem poczty tradycyjnej. O zamiarze
      prowadzenia tego rodzaju marketingu Użytkownik zostanie odrębnie
      poinformowany. Względem tego rodzaju marketingu Użytkownikowi przysługuje
      prawo sprzeciwu.
    </p>
    <h2>VI. OKRES PRZETWARZANIA DANYCH OSOBOWYCH</h2>
    <p>
      Okres przetwarzania danych przez Administratora zależy od rodzaju
      świadczonej usługi i celu przetwarzania. Co do zasady dane Użytkownika
      przetwarzane są przez czas korzystania z Serwisu lub prowadzenia
      korespondencji z Użytkownikiem, natomiast w przypadkach, gdy podstawą
      prawną przetwarzania danych jest prawnie uzasadniony interes
      Administratora - do momentu jego zrealizowania lub zgłoszenia skutecznego
      sprzeciwu względem przetwarzania danych. W przypadku danych przetwarzanych
      na podstawie Twojej zgody, do czasu jej wycofania lub zrealizowania przez
      Administratora celu, w którym dane zostały zebrane. Okres przetwarzania
      danych może być przedłużony w przypadku, gdy przetwarzanie jest niezbędne
      do ustalenia i dochodzenia ewentualnych roszczeń lub obrony przed nimi, a
      po tym czasie jedynie w przypadku i w zakresie, w jakim będą wymagać tego
      przepisy prawa. Po upływie okresu przetwarzania dane są nieodwracalnie
      usuwane lub anonimizowane.
    </p>
    <h2>VII. UPRAWNIENIA UŻYTKOWNIKA</h2>
    <p>
      Użytkownikowi przysługują następujące prawa: a) prawo dostępu do treści
      danych (art. 15 RODO); b) prawo do sprostowania danych (art. 16 RODO); c)
      prawo do usunięcia danych, jeśli Twoje dane nie są już niezbędne do celów,
      w których zostały zebrane, a Administrator nie ma podstaw do ich
      przetwarzania, np. na podstawie Twojej zgody albo realizacji obowiązku
      prawnego (art. 17 RODO); d) prawo do ograniczenia przetwarzania danych
      (art. 18 RODO); e) prawo do przenoszenia danych (art. 20 ROD); f) prawo do
      wniesienia sprzeciwu (art. 21 RODO) (w zakresie, w jakim podstawą
      przetwarzania danych osobowych jest przesłanka prawnie uzasadnionego
      interesu); g) prawo do cofnięcia zgody w dowolnym momencie bez wpływu na
      zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed
      jej cofnięciem (art. 7 ust. 3 RODO); h) prawo do wniesienia skargi do
      organu nadzorczego (Prezesa Urzędu Ochrony Danych Osobowych), o ile
      uznasz, że przetwarzanie danych osobowych odbywa się z naruszeniem
      przepisów RODO. Powyższe prawa nie zawsze mają charakter bezwzględny. W
      indywidualnych przypadkach Twoje prawa mogą być ograniczone lub wykonanie
      niektórych praw jest uzależnione od spełnienia innych wymagań prawnych. W
      każdym przypadku po otrzymaniu Twojego wniosku udzielimy Ci stosownych
      wyjaśnień, jeżeli nie będziemy mogli zrealizować któregoś z Twoich żądań.
      W celu realizacji powyższych uprawnień prosimy o kontakt e-mail na adres
      Administratora wskazany w punkcie XIII poniżej lub kontakt pisemny na
      adres Administratora wskazany w punkcie XIII poniżej. Administrator
      informuje, iż przed przystąpieniem do realizacji praw, o których mowa
      powyżej, dokonuje weryfikacji tożsamości osoby składającej wniosek, tym
      samym może zwracać się z prośbą o przedstawienie dodatkowych informacji w
      celu prawidłowej identyfikacji. Administrator realizuje prawa osób,
      których dane dotyczą w terminie przewidzianym w art. 12 RODO.
    </p>
    <h2>VIII. ODBIORCY DANYCH</h2>
    <p>
      Odbiorcami Twoich danych osobowych w związku z realizacją celów wskazanych
      w punkcie 5 powyżej mogą być: • osoby upoważnione przez Administratora
      danych – pracownicy oraz współpracownicy; • podmioty, którym Administrator
      danych powierzył przetwarzanie danych osobowych (podmioty przetwarzające)
      na podstawie zawartych umów; • podmioty, którym Administrator danych
      zobowiązany jest udostępniać dane na podstawie przepisów prawa; • podmioty
      zarządzające Serwisem, firmy świadczące usługi hostingowe, usługi IT,
      usługi analityczne i wsparcie działań marketingowych, podmioty świadczące
      obsługę informatyczną oprogramowania stosowanego przez Administratora; •
      podmioty powiązane z Administratorem, w tym spółki z jego grupy
      kapitałowej. W przypadku uzyskania zgody Użytkownika jego dane mogą zostać
      także udostępnione innym podmiotom do ich własnych celów, w tym celów
      marketingowych. Administrator zastrzega sobie prawo ujawnienia wybranych
      informacji dotyczących Użytkownika właściwym organom bądź osobom trzecim,
      które zgłoszą żądanie udzielenia takich informacji, opierając się na
      odpowiedniej podstawie prawnej oraz zgodnie z przepisami obowiązującego
      prawa.
    </p>
    <h2>IX. PRZEKAZYWANIE DANYCH POZA EUROPEJSKI OBSZAR GOSPODARCZY</h2>
    <p>
      Dane Użytkownika mogą być przekazywane poza Europejski Obszar Gospodarczy
      (EOG). Administrator przekazuje dane osobowe poza EOG tylko wtedy, gdy
      jest to konieczne, i z zapewnieniem odpowiedniego stopnia ochrony, przede
      wszystkim poprzez: a) współpracę z podmiotami przetwarzającymi dane
      osobowe w państwach, w odniesieniu do których została wydana stosowna
      decyzja Komisji Europejskiej dotycząca stwierdzenia zapewnienia
      odpowiedniego stopnia ochrony danych osobowych; b) stosowanie
      standardowych klauzul umownych wydanych przez Komisję Europejską; c)
      stosowanie wiążących reguł korporacyjnych zatwierdzonych przez właściwy
      organ nadzorczy, lub będą przekazywane wyłącznie odbiorcom, na przekazanie
      którym Użytkownik wyraził zgodę. Z uwagi na korzystanie z usług między
      innymi Google dane Użytkownika mogą być przekazywane do Stanów
      Zjednoczonych Ameryki (USA) w związku z ich przechowywaniem na
      amerykańskich serwerach (w całości lub częściowo). Google stosuje
      mechanizmy zgodności przewidziane przez RODO (np. certyfikaty) lub
      standardowe klauzule umowne. Szczegółowe informacje dostępne są w treści
      polityki prywatności każdego z dostawców tych usług, dostępnych na ich
      stronach internetowych. Przykładowo: Google LLC:
      https://policies.google.com/privacy?hl=pl Obecnie usługi oferowane przez
      Google dostarczane są głównie przez podmioty znajdujące się w Unii
      Europejskiej. Należy, jednakże każdorazowo zapoznać się z polityką
      prywatności tych dostawców w celu otrzymania aktualnej informacji w
      zakresie ochrony danych osobowych.
    </p>
    <h2>X. BEZPIECZEŃSTWO DANYCH OSOBOWYCH</h2>
    <p>
      Administrator na bieżąco prowadzi analizę ryzyka w celu zapewnienia, że
      dane osobowe przetwarzane są przez niego w sposób bezpieczny –
      zapewniający przede wszystkim, że dostęp do danych mają jedynie osoby
      upoważnione i jedynie w zakresie, w jakim jest to niezbędne ze względu na
      wykonywane przez nie zadania. Administrator dba o to, by wszystkie
      operacje na danych osobowych były rejestrowane i dokonywane jedynie przez
      uprawnionych pracowników i współpracowników. Administrator podejmuje
      wszelkie niezbędne działania, by także jego podwykonawcy i inne podmioty
      współpracujące dawały gwarancję stosowania odpowiednich środków
      bezpieczeństwa w każdym przypadku, gdy przetwarzają dane osobowe na
      zlecenie Administratora. Podane przeze Ciebie informacje nie podlegają
      zautomatyzowanym podejmowaniu decyzji, w tym o profilowaniu.
    </p>

    <h2>XI. PRAWA AUTORSKIE</h2>

    <p>
      Wszystkie treści umieszczone w Serwisie stanowią przedmiot praw autorskich
      Administratora Serwisu (np. zdjęcia, teksty, video) i podlegają ochronie
      na mocy przepisów prawa. Administrator nie wyraża zgody na kopiowanie
      tychże treści w całości lub części bez jego wyraźnej, uprzedniej zgody.
      Treści umieszczone w Serwisie są aktualne na dzień ich zamieszczenia,
      chyba że wskazano inaczej.
    </p>

    <h2>XII. PLIKI COOKIES</h2>

    <p>
      Pliki cookies (tzw. „ciasteczka”) to niewielkie pliki tekstowe zapisywane
      na urządzeniu Użytkownika (np. komputerze, tablecie, smartfonie) podczas
      korzystania z Serwisu. Pliki cookies stosowane na stronach internetowych
      Administratora nie przechowują danych pozwalających na bezpośrednią
      identyfikację. Dane uzyskane w ten sposób nie będą przesyłane i
      udostępniane stronom trzecim tj. podmiotom innym niż Administrator strony
      internetowej. Aktywność Użytkownika w Serwisie, w tym jego dane osobowe,
      są rejestrowane w logach systemowych (specjalnym programie komputerowym
      służącym do przechowywania chronologicznego zapisu zawierającego
      informację o zdarzeniach i działaniach dotyczących systemu informatycznego
      służącego do świadczenia usług przez Administratora). Zebrane w logach
      informacje przetwarzane są przede wszystkim w celach związanych ze
      świadczeniem usług. Administrator przetwarza również te dane w celach
      technicznych, administracyjnych, na potrzeby zapewnienia bezpieczeństwa
      systemu informatycznego oraz zarządzania nim, a także w celach
      analitycznych i statystycznych – w tym zakresie podstawą prawną
      przetwarzania jest prawnie uzasadniony interes administratora (art. 6 ust.
      1 lit. f) RODO). Do czego są wykorzystywane Pliki cookies w Serwisie? a)
      Administrator wykorzystuje pliki cookies przede wszystkim, aby umożliwić
      Użytkownikowi dostęp do Serwisu i ułatwić Użytkownikowi korzystanie z
      niego. b) Administrator wykorzystuje pliki cookie w celu prawidłowego
      działania stron internetowych w ramach Serwisu. c) Administrator
      wykorzystuje pliki cookies w celu tworzenia statystyk, które pomagają
      zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron
      internetowych, co umożliwia ulepszanie ich struktury i zawartości oraz w
      celu marketingowym – jednak wyłącznie wtedy, gdy Użytkownik wyrazi na to
      zgodę przy pierwszym wejściu do Serwisu. Jakie rodzaje Plików cookie są
      wykorzystywane w Serwisie? W ramach Serwisu stosowane są następujące
      rodzaje plików cookies: a) sesyjne – są to pliki tymczasowe, które
      przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania,
      opuszczenia strony internetowej lub wyłączenia oprogramowania; b) stałe –
      są to pliki przechowywane są przez czas określony w ich parametrach lub do
      czasu usunięcia ich przez Użytkownika. c) niezbędne – są to pliki
      instalowane, aby zapewnić Użytkownikowi dostęp do Serwisu i jego
      podstawowych funkcji, nie wymagają zatem zgody Użytkownika. Bez
      niezbędnych plików cookies Administrator nie byłby w stanie świadczyć
      Użytkownikom usług w ramach Serwisu. d) statystyczne – umożliwiają
      sprawdzenie liczby wizyt i źródeł ruchu w Serwisie. Pomagają rozpoznać,
      które strony są mniej lub bardziej popularne, i zrozumieć, jak Użytkownicy
      poruszają się po stronie. Dzięki temu Administrator może poprawiać
      wydajność Serwisu. e) reklamowe – wykorzystywane są w celu dostarczenia
      reklam zgodnych z zainteresowaniami i preferencjami Użytkowników. Na
      podstawie informacji z tych plików i aktywności w innych serwisach jest
      budowany profil zainteresowań Użytkowników. Zewnętrze pliki cookies
      Administrator stosuje następujące pliki cookies podmiotów trzecich w
      ramach Serwisu: • Google Analytics Pliki cookies Google Analytics są to
      pliki wykorzystywane przez spółkę Google w celu analizy sposobu
      korzystania z Serwisu przez Użytkownika, do tworzenia statystyk i raportów
      dotyczących funkcjonowania Serwisu. Google nie wykorzystuje zebranych
      danych do identyfikacji użytkownika ani nie łączy tych informacji w celu
      umożliwienia identyfikacji. Szczegółowe informacje o zakresie i zasadach
      zbierania danych w związku z tą usługą można znaleźć pod linkiem:
      https://www.google.com/intl/pl/policies/privacy/partners. W danych
      przekazywanych do Google Analytics wykorzystywane są pliki cookies firmy
      Google LLC, są to dane takie jak: a) Zapamiętywanie unikalnego ID służące
      do generowania statystyk zawierające dane o wykorzystaniu witryny przez
      użytkownika. b) Zbieranie danych o liczbie odwiedzin witryny przez
      użytkownika a także o datach pierwszej i najbardziej aktualnej wizyty. c)
      Zbierania danych demograficznych oraz danych o zainteresowaniach. d)
      Zbieranie danych o języku w jakiego używa użytkownik w swojej przeglądarce
      e) Zbieranie danych o lokalizacji urządzenia z jakiego korzysta użytkownik
      przeglądając witrynę. Zmiana ustawień w zakresie cookies W Serwisie
      stosowana jest platforma zarządzania zgodą (CMP), aby ułatwić
      Użytkownikowi zarządzanie swoimi preferencjami w zakresie cookies.
      Użytkownik może za pomocą CMP zmieniać swoje ustawienia dotyczące Plików
      cookie. CMP pozwala: a) pozyskać szczegółowe informacje na temat Plików
      cookie wykorzystywanych w Serwisie oraz zaufanych partnerów
      Administratora; b) wyrazić i wycofać zgodę na wykorzystanie przez
      Administratora i zaufanych partnerów opcjonalnych Plików cookie; c)
      zmieniać wybrane wcześniej ustawienia. Zmiana ustawień w zakresie plików
      cookie z poziomu przeglądarki internetowej Użytkownik ma możliwość
      samodzielnego zarządzania cookies. W przeglądarce jest możliwość
      zaakceptowania obsługi „cookies”, co pozwala na pełne korzystanie z opcji
      oferowanych przez Serwis lub określenia ustawień dla różnych typów
      „cookies”. Użytkownik może w każdej chwili wyłączyć w swojej przeglądarce
      internetowej opcję przyjmowania cookies. Może to spowodować pewne
      utrudnienia w korzystaniu z Serwisu. Wycofanie zgody na wykorzystanie
      plików cookies możliwe jest za pośrednictwem ustawień przeglądarki.
      Szczegółowe informacje na ten temat można znaleźć pod poniższymi linkami:
      • Internet Explorer:
      https://support.microsoft.com/pl-pl/help/17442/windows-internet-explorer-delete-manage-cookies
      • Mozilla Firefox: http://support.mozilla.org/pl/kb/ciasteczka • Google
      Chrome: http://support.google.com/chrome/bin/answer.py?hl=pl&answer=95647
      • Opera: http://help.opera.com/Windows/12.10/pl/cookies.html • Safari:
      https://support.apple.com/kb/PH5042?locale=en-GB Użytkownik może w każdej
      chwili zweryfikować status swoich aktualnych ustawień prywatności dla
      wykorzystywanej przeglądarki przy wykorzystaniu narzędzi dostępnych pod
      poniższymi linkami: • http://www.youronlinechoices.com/pl/twojewybory •
      http://optout.aboutads.info/?c=2&lang=EN
    </p>

    <h2>XIII. DANE KONTAKTOWE</h2>

    <p>
      Kontakt z Administratorem jest możliwy poprzez adres e-mail:
      yuppie&#64;yuppie.com.pl lub pisemnie na adres NIX Group sp. z o.o. ul. 3-go
      Maja 8, 37-700 Przemyśl.
    </p>

    <h2>XIV. ZMIANY POLITYKI PRYWATNOŚCI</h2>

    <p>
      Polityka jest na bieżąco weryfikowana i w razie potrzeby aktualizowana.
      Aktualna wersja Polityki została przyjęta i obowiązuje od 2024 roku.
    </p>
  </div>
</div>
