.parallax-container {
  height: 900px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .parallax-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -5;
  }

  .img-container {
    display: flex;
    justify-content: center;
    height: 45%;

    .image-product1 {
      height: 90%;
      position: relative;
      z-index: -2;
      filter: drop-shadow(0 0 10px rgba(222, 255, 255, 0.8));
      transition: filter 0.5s ease-in-out;
    }

    .image-product2 {
      height: 90%;
      position: relative;
      z-index: -2;
      filter: drop-shadow(0 0 10px rgba(222, 255, 255, 0.8));
      transition: filter 0.5s ease-in-out;
    }
  }
}

.separator-block {
  height: auto;
  min-height: 100px;
  position: relative;
  top: -1px;

  .separator-waves-top {
    height: 101px;
    width: 100%;
  }

  .separator-waves-bottom {
    height: 100%;
    width: 100%;
  }
}

.horizontal-scroll {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  background: black;
  color: white;
  font-weight: 700;

  .scroll-container {
    display: inline-flex;
    align-items: center;
    transition: all 0.9s ease-in-out;
    gap: 40px;

    .image-container {
      margin-right: 20px;
      display: flex;
      align-items: center;
      font-size: 20px;
    }
  }
}

.default-horizontal-optns {
  justify-content: center;
  height: 45px;
  margin-bottom: 15px;
}

.product-horizontal-optns {
  justify-content: flex-start;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .separator-waves-top {
    height: 100px !important;
    width: 190% !important;
  }

  .separator-waves-bottom {
    width:190% !important;
  }

  .parallax-container {
    height: 600px !important;

    .parallax-image {
      height: 850px !important;
    }

    .img-container {
      height: 40% !important;
    }
  }

  .separator-block-last {
    min-height: 100px !important;
    overflow: hidden !important;

    svg {
      height: 110px !important;
      width: 235% !important;
    }
  }
}
