.parallax-container {
  height: 750px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .parallax-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
  }
}

.separator-block {
  height: auto;
  min-height: 120px;
  position: relative;
  top: -1px;
}

.separator {
  position: absolute;
  top: 0;
}

.horizontal-scroll {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;

  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: black;
  color: white;
  font-weight: 700;
}

.scroll-container {
  display: inline-flex;
  align-items: center;
  transition: all 0.9s ease-in-out;
}

.image-container {
  margin-right: 20px;
  display: flex;
  align-items: center;
  width: 150px;
}
