<header class="bg-black text-white px-8 py-5 md:px-16 md:py-7 header-content relative z-10" [class.side-open]="isMobileMenuVisible">
  <!-- sticky top-0 sticky styles-->
  <div class="flex justify-between items-center max-w-screen-2xl mx-auto my-0 w-full">
    <!-- Mobile Menu Button (for small screens) -->
    <div class="md:hidden flex" (click)="toggleMobileMenu()">
      <div id="nav-icon1" [ngClass]="{'open': isMobileMenuVisible}">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="md:hidden flex w-full">
      <div routerLink="/" class="flex items-center w-full justify-center">
        <img src="./assets/img/white_logo.png" alt="Logo" class="h-12 mr-2">
      </div>
    </div>

    <div routerLink="/" class="hidden md:flex items-center cursor-pointer">
      <img src="./assets/img/white_logo.png" alt="Logo" class="h-14 mr-2">
    </div>
    <nav class="hidden md:flex space-x-10 font-semibold text-lg uppercase">
      <a class="cursor-pointer hover:text-gray-400" routerLink="/">Home</a>
      <div class="relative" (click)="showDropdown = !showDropdown">
        <a class="cursor-pointer hover:text-gray-400">Produkty</a>

        <div *ngIf="showDropdown" class="absolute -left-3 mt-4 bg-black shadow-md z-20 text-base">
          <ul class="py-2 z-20" style="width: 175px;">
            <li class="cursor-pointer px-4 py-2" routerLink="/product">Yuppie 700</li>
            <li class="cursor-pointer px-4 py-2" routerLink="/product">Yuppie 1000 (v1)</li>
            <li class="cursor-pointer px-4 py-2" routerLink="/product">Yuppie 1000 (v2)</li>
          </ul>
        </div>
      </div>
      <a class="cursor-pointer hover:text-gray-400" routerLink="/cooperation">Współpraca</a>
      <a class="cursor-pointer hover:text-gray-400" routerLink="/location">Lokalizacje</a>
      <a class="cursor-pointer hover:text-gray-400" routerLink="/about-us">O nas</a>
    </nav>
  </div>
</header>

<!-- Mobile Menu (for small screens) -->
<div class="sidebar bg-black text-white font-semibold" [class.open]="isMobileMenuVisible">
  <nav class="flex flex-col space-y-6 px-4 py-10 uppercase items-center">
    <a routerLink="/">Home</a>
    <a (click)="showDropdown = !showDropdown" class="flex relative items-center">
      Produkty
        <svg
        class="absolute"
        style="transition: transform .25s; right: -25px;"
        [ngStyle]="{'transform': showDropdown ? 'rotate(90deg)' : 'rotate(0)'}"
        width="22"
        height="20"
        viewBox="0 0 24 22"
        fill="white"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="arrow_forward_ios">
          <mask
            id="mask0_1_347"
            style="mask-type: alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="24"
            height="22"
          >
            <rect
              id="Bounding box"
              width="24"
              height="21.4901"
              fill="#D9D9D9"
            />
          </mask>
          <g mask="url(#mask0_1_347)">
            <path
              id="arrow_forward_ios_2"
              d="M8.025 19.6992L6.25 18.1098L14.475 10.745L6.25 3.38014L8.025 1.79077L18.025 10.745L8.025 19.6992Z"
              fill="white"
            />
          </g>
        </g>
      </svg>
    </a>

    <div [@slideInOut]="showDropdown ? 'in' : 'out'"
    class="transition-transform duration-500 ease-in-out"
    [style.overflow]="showDropdown ? 'visible' : 'hidden'"
    >
      <ul style="width: 175px;">
        <li class="cursor-pointer px-4 py-2 flex justify-center" routerLink="/product">Yuppie 700</li>
        <li class="cursor-pointer px-4 py-2 flex justify-center" routerLink="/product">Yuppie 1000 (v1)</li>
        <li class="cursor-pointer px-4 py-2 flex justify-center" routerLink="/product">Yuppie 1000 (v2)</li>
      </ul>
    </div>

    <a routerLink="/cooperation">Współpraca</a>
    <a routerLink="/location">Lokalizacje</a>
    <a routerLink="/about-us">O nas</a>
  </nav>
</div>
