<header class="bg-black text-white px-8 py-5 md:px-16 md:py-7 z-10 header-content" [class.side-open]="isMobileMenuVisible">
  <!-- sticky top-0 sticky styles-->
  <div class="flex justify-between items-center max-w-screen-2xl mx-auto my-0 w-full">
    <!-- Mobile Menu Button (for small screens) -->
    <!-- <button class="md:hidden flex items-center" id="mobile-menu-button" (click)="toggleMobileMenu()">
      <span class="text-2xl">&#9776;</span>
    </button> -->
    <div class="md:hidden flex" (click)="toggleMobileMenu()">
      <div id="nav-icon1" [ngClass]="{'open': isMobileMenuVisible}">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="md:hidden flex w-full">
      <div class="flex items-center w-full justify-center">
        <img src="./assets/img/white_logo.png" alt="Logo" class="h-12 mr-2">
      </div>
    </div>

    <div class="hidden md:flex items-center cursor-pointer">
      <img src="./assets/img/white_logo.png" alt="Logo" class="h-14 mr-2">
    </div>
    <nav class="hidden md:flex space-x-10 font-semibold text-lg uppercase">
      <a class="cursor-pointer hover:text-gray-400" routerLink="/">Home</a>
      <div class="relative" (click)="showDropdown = !showDropdown">
        <a class="cursor-pointer hover:text-gray-400">Produkty</a>

        <div *ngIf="showDropdown" class="absolute -left-3 mt-4 bg-black shadow-md z-20 text-base">
          <ul class="py-2" style="width: 175px;">
            <li class="cursor-pointer px-4 py-2" routerLink="/product">Yuppie 700</li>
            <li class="cursor-pointer px-4 py-2" routerLink="/product">Yuppie 1000 (v1)</li>
            <li class="cursor-pointer px-4 py-2" routerLink="/product">Yuppie 1000 (v2)</li>
          </ul>
        </div>
      </div>
      <a class="cursor-pointer hover:text-gray-400" routerLink="/cooperation">Współpraca</a>
      <a class="cursor-pointer hover:text-gray-400" routerLink="/location">Lokalizacje</a>
      <a class="cursor-pointer hover:text-gray-400" routerLink="/about-us">O nas</a>
    </nav>
  </div>
</header>

<!-- Mobile Menu (for small screens) -->
<div class="sidebar bg-black text-white font-semibold" [class.open]="isMobileMenuVisible">
  <nav class="flex flex-col space-y-6 px-4 py-10 uppercase items-center">
    <a routerLink="/" class="">Home</a>
    <a (click)="showDropdown = !showDropdown" class="">Produkty</a>

    <div [@slideInOut]="showDropdown ? 'in' : 'out'"
    class="transition-transform duration-500 ease-in-out"
    [style.overflow]="showDropdown ? 'visible' : 'hidden'"
    >
      <ul class="" style="width: 175px;">
        <li class="cursor-pointer px-4 py-2 flex justify-center" routerLink="/product">Yuppie 700</li>
        <li class="cursor-pointer px-4 py-2 flex justify-center" routerLink="/product">Yuppie 1000 (v1)</li>
        <li class="cursor-pointer px-4 py-2 flex justify-center" routerLink="/product">Yuppie 1000 (v2)</li>
      </ul>
    </div>

    <a routerLink="/cooperation" class="">Współpraca</a>
    <a routerLink="/location" class="">Lokalizacje</a>
    <a routerLink="/about-us" class="">O nas</a>
  </nav>
</div>
