<yup-main-carousel [items]="carouselItems" [showButton]="true" [showTitle]="false" [buttonText]="'collaboration' | translate" [navigateRoute]="carouselNavigationItems"></yup-main-carousel>
<div class="max-w-screen-xl my-0 mx-auto w-11/12" *ngIf="isPresent">
  <div class="my-10 md:mt-20">
    <section class="flex flex-col items-center">
      <div class="flex flex-col items-center mb-8">
        <h1 class="font-black text-4xl md:text-5xl mb-10 uppercase text-center jos"
          data-jos_animation="fade-up"
          data-jos_rootMargin_bottom="15%"
          data-jos_scrolldirection="down"
          data-jos_once="false"
          data-jos_animationinverse="none"
          data-jos_timingfunction="ease"
          data-jos_duration="0.6"
        > {{ 'locationPage.title' | translate }} </h1>
        <div class="flex flex-col">
          <div class="mb-10">
            <yup-contact-location-block></yup-contact-location-block>
          </div>
          <p class="text-xl md:text-2xl font-light jos"
            data-jos_animation="fade-up"
            data-jos_rootMargin_bottom="15%"
            data-jos_scrolldirection="down"
            data-jos_once="false"
            data-jos_animationinverse="none"
            data-jos_timingfunction="ease"
            data-jos_duration="0.4"
          >
            {{ 'locationPage.subText' | translate }}
          </p>
          <div class="flex justify-center mt-10 jos"
            data-jos_animation="fade-up"
            data-jos_rootMargin_bottom="15%"
            data-jos_scrolldirection="down"
            data-jos_once="false"
            data-jos_animationinverse="none"
            data-jos_timingfunction="ease"
            data-jos_duration="0.4"
          >
            <button
              [routerLink]="['/cooperation']"
              class="text-xl md:text-2xl font-semibold py-3 px-6 text-white rounded hover:text-gray-200 uppercase bg-black"
              style="box-shadow: -6px 4px 24px 0px #00000040"
            >
              {{ 'collaboration' | translate }}
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
