<div class="max-w-screen-xl my-0 mx-auto w-11/12">
  <div class="my-16 md:my-20">
    <!-- SEPARATE TO COMPONENT -->
    <div class="flex flex-col md:flex-row">
      <div
        class="flex md:hidden justify-center font-extrabold text-4xl mb-4 text-center"
      >
        {{ currentItem.title | translate }}
      </div>
      <div class="hidden md:flex w-2/5 items-center justify-center jos"
        data-jos_animation="fade-right"
        data-jos_delay="0.4"
        data-jos_once="false"
        data-jos_animationinverse="none"
        data-jos_timingfunction="ease"
        data-jos_duration="0.4"
      >
        <img
          [src]="currentItem?.image"
          alt="Logo"
          style="height: 550px"
          class=""
        />
      </div>
      <div class="w-full md:w-3/5 flex justify-center items-center">
        <div
          class="flex justify-center flex-col w-full md:w-9/12 mt-5 md:mt-0 items-center md:items-start jos"
          data-jos_animation="fade-left"
          data-jos_delay="0.4"
          data-jos_once="false"
          data-jos_animationinverse="none"
          data-jos_timingfunction="ease"
          data-jos_duration="0.4"
        >
          <div class="hidden md:block font-extrabold text-5xl mb-4">
            {{ currentItem.title | translate }}
          </div>
          <div class="flex md:hidden w-full items-center justify-center">
            <img
              [src]="currentItem?.image"
              alt="Logo"
              style="height: 450px"
              class=""
            />
          </div>
          <div class="font-semibold w-11/12 md:w-full mt-10 md:mt-0" style="color: #888">
            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac
            feugiat urna. Proin interdum semper dolor id sodales. Vestibulum
            vitae libero accumsan, viverra nunc in, tincidunt elit. Morbi
            faucibus libero vitae mi ultrices blandit. Curabitur ac condimentum
            odio, sed mattis eros. Cras lacinia metus a mi aliquet, a pharetra
            tortor mattis. -->
            <div class="flex flex-col mt-5">
              <span> {{ 'productsCategory.specs.batteryCapacity' | translate }} <span class="font-bold">{{ itemSpecs.battery }}</span> </span>
              <span> {{ 'productsCategory.specs.liquidCapacity' | translate }} <span class="font-bold">{{ itemSpecs.capacity }}</span> </span>
              <span> {{ 'productsCategory.specs.resistance' | translate }} <span class="font-bold">{{ itemSpecs.resistance }}</span> </span>
              <span> {{ 'productsCategory.specs.puffs' | translate }} <span class="font-bold">{{ itemSpecs.puffs }}</span> </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SEPARATE TO COMPONENT END -->
  </div>
  <div class="my-10 md:my-20 jos"
    data-jos_animation="fade-up"
    data-jos_rootMargin_bottom="15%"
    data-jos_scrolldirection="down"
    data-jos_once="false"
    data-jos_animationinverse="none"
    data-jos_timingfunction="ease"
    data-jos_duration="0.4"
  >
    <yup-all-product-carousel
      [pageTitle]="'productsCategory.relatedProducts' | translate"
      [secondaryStyle]="true"
      [items]="carouselProductItems"
      [category]="category"
    ></yup-all-product-carousel>
  </div>
</div>
