<div class="carousel-container">
  <div
    class="carousel h-full"
    [style.transform]="'translateX(' + -currentIndex * 100 + '%)'"
  >
    <div *ngFor="let item of items" class="carousel-item">
      <div
        [ngStyle]="{
          'background-color': item.color,
          'background-image': 'url(' + item.image + ')'
        }"
        class="flex h-full items-center justify-center text-2xl carousel-item-container"
      >
        <p class="text-4xl font-bold">{{ item.title }}</p>
      </div>
    </div>
  </div>
</div>
<div #progress *ngIf="showProgressBar" class="progress"></div>
