<section class="flex flex-col items-center">
  <div class="flex flex-col items-center mb-8 w-11/12 md:w-full ">
    <h1 class="font-black text-4xl md:text-5xl mb-8 uppercase">{{ 'collaboration' | translate }}</h1>
    <p class="text-xl md:text-2xl font-light">
      {{ 'collaborationSection.sectionTextFirst'  | translate}}
      <br /><br />
      {{ 'collaborationSection.sectionTextSecond'  | translate}}
    </p>
  </div>

  <button
    routerLink="/cooperation"
    class="text-xl md:text-2xl font-semibold py-3 px-6 text-white rounded hover:text-gray-200 uppercase bg-black"
    style="box-shadow: -6px 4px 24px 0px #00000040"
  >
    {{ 'collaboration'  | translate}}
  </button>
</section>
