.carousel-container {
  overflow: hidden;
  height: 60vh;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.carousel-item-container {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.separator-block {
  height: auto;
  min-height: 120px;
  position: relative;
  top: 1px;
}

@keyframes Loader {
  0%   { background-position: 100% 0; }
  100% { background-position: 0 0; }
}

@-webkit-keyframes Loader {
  0%   { background-position: 100% 0; }
  100% { background-position: 0 0; }
}

@media (max-width: 620px) {
  .carousel-container {
    height: 60vh;
  }
}
